################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pterodactyl/.vs/Pterodactyl/v16
