<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="6.12.19029.6381" targetFramework="net45" />
  <package id="Markdig" version="0.22.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net472" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net472" />
  <package id="PDFsharp-gdi" version="1.50.5147" targetFramework="net472" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net472" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net472" />
  <package id="RhinoCommon" version="6.12.19029.6381" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>