<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compiler.Service" version="0.0.20" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="net472" />
  <package id="FSharp.Formatting" version="2.4.0" targetFramework="net472" />
  <package id="FSharp.Markdown.Pdf" version="0.2.1" targetFramework="net472" />
  <package id="Grasshopper" version="6.12.19029.6381" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net472" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net472" />
  <package id="PDFsharp-gdi" version="1.50.5147" targetFramework="net472" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net472" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net472" />
  <package id="RhinoCommon" version="6.12.19029.6381" targetFramework="net45" />
</packages>